.column-wrapper{
    display: flex;
}
.left-column{
    height: 100vh;
    width: 33.33%;
    background-color: royalblue;
}
.center-column{
    height: 100vh;
    width: 33.33%;
    background-color: cyan;
}
.right-column{
    height: 100vh;
    width: 33.33%;
    background-color: lightgreen;
    display: flex;
    align-items: flex-end;
}
.img-box{
    height: 200px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
}