.top-section{
    width: 100%;
    height: 50vh;
    background-color: lightgreen;
}
.item{
    width: 50%;
    height: 150px;
    background-color: lightblue;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.item:nth-child(even){
    background-color: lightslategray;
}